<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr class="pokemon" *ngFor="let itemPokemon of pokemon">
      <td>{{ itemPokemon.name }}</td>
      <td>
        <img [src]="itemPokemon.image" alt="" />
      </td>
      <td>{{ itemPokemon.attack }}</td>
      <td>{{ itemPokemon.defense }}</td>
      <td class="text-center">
        <button role="button">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button role="button">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
