<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
      <td class="text-center">
        <button role="button">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button role="button">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
      <td class="text-center">
        <button role="button">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button role="button">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>
