<div>
  <div>
    <label for="name">Nombre:</label>
    <input type="text" />
  </div>
  <div>
    <label for="name">Ataque:</label>
    <div>
      <div class="value left">0</div>
      <input type="range" min="0" max="11" value="0" step="1" />
      <div class="value right">200</div>
    </div>
  </div>
</div>
<div class="row justify-content-between">
  <div>
    <label for="name">Imagen:</label>
    <input type="text" />
  </div>
  <div>
    <label for="name">Defensa:</label>
    <div>
      <div class="value left">0</div>
      <input type="range" min="0" max="11" value="0" step="1" />
      <div class="value right">200</div>
    </div>
  </div>
</div>
<div class="text-center">
  <button class="btn" role="button">
    <i class="fas fa-save"></i>
    Guardar
  </button>
  <button class="btn" disabled>
    <i class="fas fa-times"></i>
    Cancelar
  </button>
</div>
